@model IEnumerable<MODELS.CUSTOMER>

@{
    ViewBag.Title = "info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>info</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ACC_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>    
        <th>
            @Html.DisplayNameFor(model => model.AMOUNT)
        </th>
  
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ACC_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.AMOUNT)
        </td>
        <td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
